
@charset "utf-8";

// ************************
// *** Animation Styles ***
// ************************

// *****************
// *** keyframes ***
// *****************

@keyframes slide {
	from {
		background-position: 10000px center;
	}
	to {
		background-position: center center;
	}
 }


@keyframes scaleUp {
	from { }
	to { transform: scale(1); opacity: 1; }
}

@keyframes moveUp {
	from { }
	to { transform: translateY(0); opacity: 1; }
}

 @keyframes fadeInDown {
	from {
	  opacity: 0;
	  transform: translate3d(0, -15%, 0);
	}
	to {
	  opacity: 1;
	  transform: translate3d(0, 0, 0);
	}
  }

  @keyframes shine {
    0% {
        color: rgba(255, 255, 255, .8);
        text-shadow: 0 0px 15px rgba(0, 0, 0, .9);
    }
    50% {
        color: rgba(255, 255, 255, 1);
        text-shadow: 0 1px 15px rgba(255, 255, 255, .9);
    }
    100% {
        color: rgba(255, 255, 255, .8);
        text-shadow: 0 0px 15px rgba(0, 0, 0, .9);
    }
}