@charset "utf-8";

.Header{
    padding: 30px 0 $page-padding-sm;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    @include bp-ex-small{
        padding: $page-padding-md 0;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    @include bp-medium{
        padding: $page-padding-lg 0;
    }
    &__logo{
        width: 120px;
        @include bp-ex-small{
            width: 120px;
        }
        @include bp-small{
            width: 150px;
        }
        @include bp-medium{
            width: 180px;
        }
    }
    &__contact{
        display: none;
        @include bp-ex-small{
            display: inline-flex;
        }
    }
    &__menu{
        display: none;
        cursor: pointer;
        &>span{
            display: block;
            width: 24px;
            height: 2px;
            margin-bottom: 6px;
            position: relative;
            background: black;
            border-radius: 3px;
        }
        @include bp-ex-small{
            display: none;
        }
    }
}

.modal-open .Header{
    transition: filter .3s ease;
    filter: blur(3px);
}