@charset "utf-8";

.Footer{
    text-align: center;
    &__contact{
        display: inline-flex;
        @include bp-ex-small{
            display: none;
        }
    }
	&__copyright{
		height: 60px;
		font-size: 0.75rem;
		text-align: center;
        line-height: 60px;
        margin: 0;
	}
}