@charset "utf-8";

// *********************
// *** Normalize CSS ***
// *********************

@import "~normalize.css/normalize.css"; 

// ************************
// *** Global Variables ***
// ************************

$gray: #9B9B9B;

// *********************
// *** Global Styles ***
// *********************

*, *::before, *:after {
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

// ******************
// *** Typography *** 
// ******************


// ******************
// ***   Layout   ***
// ******************

$page-padding-sm: 20px;
$page-padding-md: 40px;
$page-padding-lg: 60px;

@mixin bp-large {
    @media only screen and (min-width: 2160px) {
        @content;
    }
}

@mixin bp-medium {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

@mixin bp-small {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin bp-ex-small {
    @media only screen and (min-width: 480px) {
        @content;
    }
}

// **********************
// *** Global Modules ***
// **********************

@import "./styles/animation";

// **********************
// *** App Components ***
// **********************

@import "./components/Logo/Logo";
@import "./components/Icon/Icon";

@import "./components/App/App";
@import "./components/Header/Header";
