@charset "utf-8";

// ***********************
// *** Color Variables ***
// ***********************

$color-text-primary: #121212;
$color-text-secondary: #5a5a5a;

// ************************
// *** Layout Variables ***
// ************************

$grid-xsmall: 0.625rem;
$grid-small: 1rem;
$grid-medium: 2.5rem;
$grid-large: 3.75rem;
$grid-xlarge: 5.625rem;
